/* 관리자 */
.admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;

  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .datepicker-range-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .last-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    button[data-slot="select-trigger"] {
      width: 100%;
    }
  }
}

