@layer base {
  :root {
    --T01: #101C2D;
    --T02: #21353E;
    --T03: #727E8F;
    --T04: #8D9EB5;
    --T05: #42c3e4;
    --T06: #4da7d4;
    --T07: #8b5cf6;
    --T08: #2ed579;
    --T09: #34bb74;
    --T10: #e8a349;
  }
}