@charset "utf-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
  src: local("Pretendard ExtraBold"), 
  url('../fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff');
} 

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
  url('../fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), 
  url('../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), 
  url('../fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
  url('../fonts/Pretendard/Pretendard-Regular.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), 
  url('../fonts/Pretendard/Pretendard-Light.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), 
  url('../fonts/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'), 
  url('../fonts/Pretendard/Pretendard-ExtraLight.woff') format('woff');
}

@layer base {
  body {
    font-family: 'Pretendard';
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s, color 0.3s;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }

  ::-webkit-scrollbar-track {
    background: var(--LE06);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--LE04);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--LE03);
  }
}